# Modified from https://github.com/GispoCoding/qaava-qgis-plugin/blob/master/.github/workflows/tests.yml
# workflow name
name: Package

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the wanted branches
on:
  push:
    branches:
      - main
    tags:
      - 'v*'  # or 'v*' if you only want tags starting with 'v'
  pull_request:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  package:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy plugin to directory for packaging
      run: |        
        rm -rf imodqgis_packaged
        mkdir -m 755 imodqgis_packaged
        cp -R imodqgis imodqgis_packaged/imodqgis
      shell: bash

    - name: Create zip for release
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        cd imodqgis_packaged
        zip -r ../imodqgis.zip .
        cd ..

    - name: Upload imodqgis to Github artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        path: imodqgis_packaged
        name: imodqgis_${{ github.sha }}

    - name: Upload imodqgis to release
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release upload ${{ github.ref_name }} imodqgis.zip --clobber
